controllers:
    resource: ../src/Controller/
    type: annotation

kernel:
    resource: ../src/Kernel.php
    type: annotation
login:
  path: /login
  controller: App\Controller\SercurityController::login 
index:
    path: /index
    controller: App\Controller\HomepageController::index